<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192821721572-ubnq9rutoou0khg1bg94fa45h43pdfc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192821721572-ubnq9rutoou0khg1bg94fa45h43pdfc5</string>
	<key>API_KEY</key>
	<string>AIzaSyDwKYklDPYXg9kDfyaANFFmcYvng8kQze0</string>
	<key>GCM_SENDER_ID</key>
	<string>192821721572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.mirkoweitkowitz.Notizy</string>
	<key>PROJECT_ID</key>
	<string>notizy-7ec84</string>
	<key>STORAGE_BUCKET</key>
	<string>notizy-7ec84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192821721572:ios:7f0403e74fdb3ddd7c6ff1</string>
</dict>
</plist>